*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
app/release/
app/src/androidTest/
app/src/test/
gradlew
gradlew.bat
app/src/main/gen/
tagviewlibrary/src/main/gen/
app/src/main/res/values/secrets.xml

