<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yrdtechnologies"
    android:versionCode="37"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Content provider -->
    <permission
        android:name="com.yrdtechnologies.provider"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.yrdtechnologies.provider" />

    <!--  -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Permissions for heart rate monitor -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--android:roundIcon="@mipmap/ic_launcher_round"-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/OurLightStyleBackword">
        <provider
            android:name=".persistence.OurContentProvider"
            android:authorities="com.yrdtechnologies.provider"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yrdtechnologies"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".ActivityLanding"
            android:label="@string/app_name" />
        <!-- <activity android:name=".FragmentUserProfile" /> -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ActivityMyProfileNew"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/title_activity_my_profile" />
        <activity
            android:name=".ActivitySplash"
            android:label="@string/app_name_new">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name=".ActivityAddDocument"-->
            <!--android:label="@string/title_activity_add_dcoument" />-->
        <activity
            android:name=".ActivityMyDocumentsList"
            android:label="@string/title_activity_my_documents_list" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_key" />

        <activity
            android:name=".ActivityMaps"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".ActivityMedicinesNew"
            android:label="@string/title_activity_medicine" />
        <activity
            android:name=".ActivityDoctorsNew"
            android:label="@string/title_activity_doctors" />
        <activity
            android:name=".ActivityMyHealthAndWellness"
            android:label="@string/myHealth" />

        <!-- <activity android:name=".ActivityPedometer" -->
        <!-- android:label="Pedometer"> -->
        <!-- </activity> -->

        <activity
            android:name="com.jwetherell.heart_rate_monitor.HeartRateMonitor"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".ActivityWIP" />
    </application>

</manifest>